@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definições padrão para o tema claro */
:root {
  --foreground-color: theme('colors.foreground');
  --background-color: theme('colors.background');
  --primary-color: theme('colors.primary');
  --secondary-color: theme('colors.secondary');
  --card-color: theme('colors.card');
  --highlight-color: theme('colors.highlight');
}

/* Definições para o tema escuro */
.dark {
  --foreground-color: theme('colors.dark.foreground');
  --background-color: theme('colors.dark.background');
  --primary-color: theme('colors.dark.primary');
  --secondary-color: theme('colors.dark.secondary');
  --card-color: theme('colors.dark.card');
  --highlight-color: theme('colors.dark.highlight');
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.bg-card {
  background-color: var(--card-color);
}

.bg-highlight {
  background-color: var(--highlight-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
