@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: theme('colors.light.foreground');
  --background-color: theme('colors.light.background');
  --primary-color: theme('colors.light.primary');
  --secondary-color: theme('colors.light.secondary');
  --card-color: theme('colors.light.card');
  --highlight-color: theme('colors.light.highlight');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: theme('colors.dark.foreground');
    --background-color: theme('colors.dark.background');
    --primary-color: theme('colors.dark.primary');
    --secondary-color: theme('colors.dark.secondary');
    --card-color: theme('colors.dark.card');
    --highlight-color: theme('colors.dark.highlight');
  }
}
body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.bg-card {
  background-color: var(--card-color);
}

.bg-highlight {
  background-color: var(--highlight-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}